.Menu {
  width: 300px;
  border: 5px solid #CD6155;
  padding: 5px;
  margin: 5px;
  background-color: #CD6155;
  color: white;
  text-decoration: none;
}

.Menu:hover {
  background-color: #922B21;
  border-color: #922B21;
  text-decoration: none;
}

header {
  background-color: inherit;
  border: 5px solid inherit;
  color: white;
  padding: 20px;
  text-shadow: #FC0 1px 0 10px;
}

body {
  background-image: url('../Images/background.gif');
  background-size: 125%;
}

.TexteContact {
  border: 5px solid black;
  background-color: #F7C3A6;
  padding: 10px;
}

.Contact {
  width: 100px;
}

.Contact_Mail_Tel {
  border: 5px solid black;
  background-color: #F7C3A6;
  padding: 10px;
}

.Réseaux {
  border: 5px solid black;
  background-color: #F7C3A6;
  padding: 10px;
}

@media screen end {
  max-width: 950px;
}

footer {
  color: white;
}

.sous_titre {
  font-size: x-large;
  font-weight: bold;
}
