.Menu {
  width: 300px;
  border: 5px solid #7DCEA0;
  padding: 5px;
  margin: 5px;
  background-color: #7DCEA0;
  color: white;
  text-decoration: none;
  color: black;
}

.Menu:hover {
  background-color: #229954;
  border-color: #229954;
  text-decoration: none;
}

header {
  background-color: inherit;
  border: 5px solid inherit;
  color: white;
  padding: 20px;
  text-shadow: #FC0 1px 0 10px;
}

body {
  background-image: url('../Images/background.gif');
  background-size: 125%;
}

.introduction {
  border: 5px solid black;
}

.image_de_jeu {
  width: 250px;
}

.a_propos {
  border: 5px solid black;
  background-color: #7DCEA0;
  padding: 10px;
}

.introduction {
  background-color: #7DCEA0;
  padding: 10px;
}

@media screen end {
  max-width: 950px;
}

footer {
  color: white;
}

.sous_titre {
  font-size: x-large;
  font-weight: bold;
}
