.Menu {
  width: 300px;
  border: 5px solid #7DCEA0;
  padding: 5px;
  margin: 5px;
  background-color: #7DCEA0;
  color: white;
  text-decoration: none;
  color: black;
  border-radius: 30px;
}

.Menu:hover {
  background-color: #229954;
  border-color: #229954;
  text-decoration: none;
  border-radius: 30px;
}

header {
  background-color: inherit;
  border: 5px solid white;
  color: white;
  text-shadow: #FC0 1px 0 10px;
}

body {
  background-image: url(https://www.nautiljon.com/images/actualite/00/67/1510748564047_image.gif);
  background-size: 125%;
}

.introduction {
  border: 5px solid black;
}

.image_de_jeu {
  width: 250px;
}

.a_propos {
  border: 5px solid black;
  background-color: #7DCEA0;
  border-radius: 30px;
  padding: 10px;
}

.introduction {
  background-color: #7DCEA0;
  border-radius: 30px;
  padding: 10px;
}
