.Menu {
  width: 300px;
  border: 5px solid #341FE0;
  padding: 5px;
  margin: 5px;
  background-color: #341FE0;
  color: white;
  text-decoration: none;
}

.Menu:hover {
  background-color: #2D1DB1;
  border-color: #2D1DB1;
  text-decoration: none;
}

header {
  background-color: inherit;
  border: 5px solid inherit;
  color: white;
  padding: 20px;
  text-shadow: #FC0 1px 0 10px;
}

body {
  background-image: url('../Images/background.gif');
  background-size: 125%;
}

.introduction {
  border: 2px solid black;
  padding: 10px;
  color: black;
}

.introduction {
  background-color: #A2DDCA;
}

footer {
  color: white;
}

@media screen end {
  max-width: 950px;
}
