.Menu {
  width: 300px;
  border: 5px solid #CCC769;
  padding: 5px;
  margin: 5px;
  background-color: #CCC769;
  color: white;
  text-decoration: none;
  border-radius: 30px;
}

.Menu:hover {
  background-color: #EEE87B;
  border-color: #EEE87B;
  text-decoration: none;
  border-radius: 30px;
}

header {
  background-color: inherit;
  border: 5px solid white;
  color: white;
  text-shadow: #FC0 1px 0 10px;
}

body {
  background-image: url('../Images/background.gif');
  background-size: 125%;
}

.introduction {
  border: 5px solid black;
  border-radius: 30px;
  padding: 10px;
}

.introduction {
  background-color: #EEE87B;
}

.a_propos {
  border: 5px solid black;
  background-color: #EEE87B;
  border-radius: 30px;
  padding: 10px;
}

.image_editeur {
  width: 100px;
}

footer {
  color: white;
}
